/* ╠══════════╣ Global Style ╠══════════╣ */

:root {

    --color-white: #f4f4f4;
    --color-blue-light: #92b5a7;
    --color-blue: #5e8875;
    --color-blue-dark: #033343;

}

body {
    background-color: var(--color-white);
    font-family: "Raleway", sans-serif;
    color: var(--color-blue-dark);
    margin: 0;
}

/* ╠══════════╣ Heading ╠══════════╣ */

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 10vh;
}

/* ╠══════════╣ Game Area ╠══════════╣ */

main {
    height: 85vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}